* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sawarabi Mincho";
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

@media screen and (max-width: 321px) {
  header h1 {
    text-align: center;
    width: 90%;
    margin: 0 5%;
    font-size: 2.2rem !important;
    color: #fff;
    letter-spacing: .2rem;
    font-weight: 200;
    line-height: 4rem !important;
    position: absolute !important;
    top: 25vh !important;
  }
}

header {
  width: 100%;
  height: 80vh;
  background-image: url(images/header.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  position: relative;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  height: 10vh;
  background-color: #EDCD20;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.header-top_title {
  display: flex;
  align-items: center;
}
.header-top_title.show {
  visibility: hidden;
}
.header-top_title h2 {
  margin-right: 4vw;
  border: 1px solid rgb(219, 192, 37);
}
.header-top_title p {
  font-size: 2.3rem;
  line-height: 2.2rem;
  letter-spacing: .3rem;
}
.header-top_title p span{
  font-size: 1.8rem;
  letter-spacing: normal;
}
input {
  display: none;
}
label {
  cursor: pointer;
}
label div {
  width: 2.3rem;
  height: .3rem;
  background-color: #1E2D3B;
  margin: .5rem;
  border-radius: .3rem;
}
.line1.open {
  transform: rotate(45deg) translate(4.5px, 5px);
  transition: all .5s;
}
.line2.open {
  opacity: 0;
}
.line3.open {
  transform: rotate(-45deg) translate(7px, -7px);
  transition: all .5s;
}
.header-content {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  background-color: #EDCD20;
  position: fixed;
  z-index: 99;
  display: none;
}
.header-content .show {
  color: #fff;
}
.header-content ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}
.header-content li {
  padding: 3%;
}
.header-content a {
  color: #1E2D3B;
  font-size: 1.5rem;
  letter-spacing: .3rem;
}
.header-content a:hover {
  opacity: .7;
  border-bottom: 1px solid rgb(185, 159, 11);
}
header h1 {
  text-align: center;
  width: 80%;
  margin: 0 10%;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: .3rem;
  font-weight: 200;
  line-height: 5rem;
  position: absolute !important;
  top: 25vh !important;
}

#service {
  width: 100%;
}
.hide {
  display: none;
}
.section-title {
  font-size: 3.5rem;
  text-align: center;
  color: #C6C6C6;
  padding: 5vh 0 2vh;
  letter-spacing: .2rem;
}
.under-line {
  width: 20%;
  height: 1rem;
  background-color: #EDCD20;
  margin: 0 auto;
}
.service-box {
  width: 80%;
  margin: 10vh 10%;
  background-color: rgb(233, 233, 233);
  border-radius: 1rem;
  box-shadow: .5rem .5rem .5rem rgb(101, 110, 119);
}
.service-box img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.service-box h3 {
  font-size: 2.3rem;
  color: #3D5975;
  padding: 1rem 2rem;
  letter-spacing: .2rem;
}
.service-box p {
  font-size: 1.5rem;
  color: #3B3A3A;
  padding: .5rem 2rem 2rem;
}

#information {
  width: 100%;
}
#infomation img {
  width: 100%;
}
.info-img {
  width: 100%;
  height: 60vh;
  margin-top: 20vh;
}
.info-img img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
#information .section-title, #information .under-line {
  text-align: left;
  margin-left: 15%;
}
#information .info-text {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  line-height: 2.5rem;
}
.info-boxes {
  width: 100%;
  margin-top: 10%;
  background-color: #EDCD20;
  display: flex;
  flex-wrap: wrap;
}
.info-box {
  width: 30%;
}
.info-box:nth-child(2n + 1) {
  margin: 5vh 5% 5vh 15% ;
}
.info-box:nth-child(2n) {
  margin: 5vh 15%  5vh 5% ;
}
.info-box h3 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  letter-spacing: .2rem;
  font-weight: bold;
}
.info-box p {
  text-align: center;
  font-size: 1.5rem;
  color: #3D5975;
  letter-spacing: .1rem;
  font-weight: bold;
}

#project .project-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}
#project .section-title {
  font-size: 3.5rem;
  text-align: center;
  color: #C6C6C6;
  padding: 5vh 0 2vh;
  letter-spacing: .2rem;
}
.project-box img {
  width: 40%;
  height: 15vh;
  cursor: pointer;
  border-radius: .5rem;
}
.project-box img:nth-child(2n + 1) {
  margin:5vh 3% -1vh 7%;
}
.project-box img:nth-child(2n) {
  margin:5vh 7% -1vh 3%;
}
.project-box img:hover {
  opacity: .5;
}

#form {
  width: 100%;
  height: auto;
}
#form .under-line {
  margin-bottom: 5vh;
}
#form h3 {
  font-size: 2.5rem;
  letter-spacing: .2rem;
  margin: 10% 5% 5%;
}
#form p {
  font-size: 1.5rem;
  color: #3B3A3A;
  margin-left: 5%;
}
iframe {
  height: 300px;
}
#google_map {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#google_map iframe,
#google_map object,
#google_map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form-box {
  width: 100%;
  margin: 15% 0;
  /* background-color: aquamarine; */
}
.form-left, .form-right {
  width: 100%;
  text-align: center;
}
.form-left h2 {
  font-size: 1.8rem;
  letter-spacing: .1rem;
}
.form-left p {
  line-height: 3rem;
  margin-bottom: 3vh;
}
.form-left .under-line {
  width: 30%;
  height: .3rem;
  margin-top: 1vh;
}
.fas {
  font-size: 2.2rem;
  letter-spacing: .3rem;
  margin-bottom: 2vh;
}
.form-right p {
  text-align: center;
}
.btn {
  width: 40%;
  height: 7vh;
  margin: 5% 30% -8%;
  background-color: #EDCD20;
  line-height: 7vh;
  cursor: pointer;
}
.btn a {
  width: 100%;
  display: block;
  color: #fff;
  font-weight: bold;
  letter-spacing: .3rem;
}

footer {
  text-align: center;
}
.footer-inner h2 {
  letter-spacing: .1rem;
}
.footer-inner p {
  letter-spacing: .1rem;
}
.copyright {
  margin-top: 10vh;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-top_title p {
    font-size: 3.5rem;
    line-height: 3rem;
    letter-spacing: .3rem;
  }
  .header-top_title p span{
    font-size: 2.5rem;
    letter-spacing: normal;
  }
  label div {
    width: 3rem;
    height: .4rem;
    background-color: #1E2D3B;
    margin: .6rem;
    border-radius: .3rem;
  }
  .line1.open {
    transform: rotate(45deg) translate(4.8px, 6px);
    transition: all .5s;
  }
  .line2.open {
    opacity: 0;
  }
  .line3.open {
    transform: rotate(-45deg) translate(8px, -9px);
    transition: all .5s;
  }
  .header-content a {
    color: #1E2D3B;
    font-size: 3rem;
    letter-spacing: .5rem;
  }
  header h1 {
    text-align: center;
    width: 80%;
    margin: 0 10%;
    font-size: 3rem;
    color: #fff;
    letter-spacing: .4rem;
    font-weight: 200;
    line-height: 5rem;
    position: absolute !important;
    top: 25vh !important;
  }
  .section-title {
    font-size: 4rem;
    text-align: center;
    color: #C6C6C6;
    padding: 5vh 0 2vh;
    letter-spacing: .2rem;
  }
  .under-line {
    width: 22%;
    height: 1rem;
    background-color: #EDCD20;
    margin: 0 auto;
  }
  .project-box img {
    width: 40%;
    height: 18vh;
    cursor: pointer;
    border-radius: 1rem;
  }
  .service-box {
    width: 60%;
    margin: 10vh 20%;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    box-shadow: .5rem .5rem .5rem rgb(101, 110, 119);
  }
  .service-box img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  .service-box h3 {
    font-size: 2.8rem;
    color: #3D5975;
    padding: 2rem 3rem;
    letter-spacing: .2rem;
  }
  .service-box p {
    font-size: 2rem;
    color: #3B3A3A;
    padding: .5rem 3rem 2rem;
  }
  .info-box h3 {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    letter-spacing: .2rem;
    font-weight: bold;
  }
  .info-box p {
    text-align: center;
    font-size: 2.5rem;
    color: #3D5975;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  iframe {
    width: 70%;
    height: 350px;
    margin:  3% 15%;
  }
  .form-left h2 {
    font-size: 3rem;
  }
  .form-left p {
    font-size: 2rem !important;
    line-height: 4rem;
  }
  .fas {
    font-size: 3.5rem;
  }
  .form-right .tell {
    font-size: 2rem !important;
  }
  .btn a {
    font-size: 2rem;
  }
  .footer-inner h2 {
    font-size: 2rem;
  }
  .footer-inner p {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 20vh;
  }
  .copyright {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
  #home {
    position: relative;
  }
  header h1 {
    text-align: center;
    width: 80%;
    margin: 0 10%;
    font-size: 4.5rem;
    color: #fff;
    letter-spacing: .8rem;
    font-weight: 200;
    line-height: 8rem;
    position: absolute !important;
    top: 20vh !important;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    width: 40%;
    height: 10vh;
    background-color: #EDCD20;
    align-items: center;
  }
  .header-content {
    width: 60%;
    margin-left: 40%;
    height: 10vh;
    padding: 0;
    background-color: #EDCD20;
    display: block !important;
  }
  .header-content ul {
    flex-direction: row;
    width: 100%;
  }
  .header-content li {
    padding: 3% 1.2rem;
  }
  .header-content a {
    color: #1E2D3B;
    font-size: 2rem;
    letter-spacing: .3rem;
  }
  .header-content a:hover {
    opacity: .7;
    border-bottom: 1px solid rgb(185, 159, 11);
  }
  .header-inner {
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 100;
  }
  .section-title {
    font-size: 4rem;
    text-align: center;
    color: #C6C6C6;
    padding: 5vh 0 2vh;
    letter-spacing: .2rem;
  }
  .service-box {
    width: 30%;
    margin: 8vh 2% 0;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    box-shadow: .5rem .5rem .5rem rgb(101, 110, 119);
  }
  .service-box img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  .service-box h3 {
    font-size: 2.3rem;
    color: #3D5975;
    padding: 2rem 3rem;
    letter-spacing: .2rem;
  }
  .service-box:nth-child(2) h3 {
    padding: 2rem 3rem 5.3rem;
  }
  .service-box p {
    font-size: 1.5rem;
    color: #3B3A3A;
    padding: .5rem 3rem 2rem;
  }
  .project-box img {
    width: 40%;
    height: 22vh;
    cursor: pointer;
    border-radius: 1.5rem;
  }
  .service-boxes {
    display: flex;
  }
  iframe {
    width: 60%;
    height: 400px;
    margin: 3% 20%;
  }
}

@media screen and (min-width: 1240px) {
  header {
    margin-bottom: 10vh;
    height: 100vh;
    background-position: center -650px;
  }
  .header-content a {
    font-size: 2rem;
    font-weight: bold;
  }
  .header-content {
    z-index: 101;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    width: 50%;
    height: 10vh;
    background-color: #EDCD20;
    align-items: center;
  }
  .header-content {
    width: 50%;
    margin-left: 50%;
    height: 10vh;
    padding: 0;
    background-color: #EDCD20;
    display: block !important;
  }
  .header-content li {
    padding: 0 1.3rem;
  }
  .header-content a:hover {
    opacity: .5;
    border-bottom: 2px solid rgb(185, 159, 11);
  }
  .section-title {
    font-size: 4rem;
  }
  .under-line {
    width: 11%;
  }
  .service-box img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  .info-img {
    height: 80vh;
  }
  .info-img img {
    height: 100%;
  }
  .info-boxes {
    height: 60vh;
  }
  .info-box {
    padding-top: 1%;
  }
  .info-box h3 {
    text-align: center;
    font-size: 5.5rem;
    color: #fff;
    letter-spacing: .2rem;
    font-weight: bold;
  }
  .info-box p {
    text-align: center;
    font-size: 4rem;
    color: #3D5975;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  .project-box img {
    width: 30%;
    height: 30vh;
    cursor: pointer;
    border-radius: 1rem;
  }
  .project-box img:nth-child(2n + 1) {
    margin:5vh 3% -1vh 17%;
  }
  .project-box img:nth-child(2n) {
    margin:5vh 17% -1vh 3%;
  }
  iframe {
    width: 50%;
    margin: 3% 25%;
    height: 500px;
  }
  .btn {
    width: 20%;
    margin: 10vh 40% 0;
  }
  #form {
    width: 100%;
    height: 175vh;
  }
  .form-right .tell {
    font-size: 2rem !important;
    width: 90%;
  }
}